.middle
{
    color: white;
    text-align: center;
    font-size: 40px;
    font-style: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
}

.btn-click
{
    padding: 13px 10px 0px 10px;
    left 50%;
    border-radius: 10px;
    background: lightgreen;
    color: white;
    font-size: 18px;
    border: transparent;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    outline: none;
}

.btn-click:hover {
  background: darkgreen;;
}