.middle
{
    color: white;
    text-align: center;
    font-size: 40px;
    font-style: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
}
